@import "./colors";

button {
    height: 5rem;
    width: 5rem;
    padding: 1.3rem;
    background: none;
    border: none;
    border-bottom: 2px solid $white;
    outline: none;

}
button:hover {
    color: $primary-purple;
    border-bottom: 2px solid $primary-blue;
    background: $primary-blue;
}
button:active {
    color: #ffffff;
    background: $primary-blue;
    opacity: 0.4;
}