@import "./colors";

button {
    height: 5rem;
    width: 5rem;
    padding: 1.3rem;
    background: none;
    border: none;
    // border-radius: 30px;
    // font-size: 1.6rem;
    border-bottom: 2px solid $white;
    // color: $dark-turquoise;
    // background: $white;
    outline: none;

}
button:hover {
    // background: #7e7e7e;
    color: $primary-purple;
    border-bottom: 2px solid $primary-blue;
    background: $primary-blue;
}
button:active {
    color: #ffffff;
    background: $primary-blue;
    opacity: 0.4;
}