@import './colors';

div.current-weather {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font-size: 2rem;
    background: #47658a8e;
    padding: 2rem 4rem 2rem 1rem;

    img {
        height: 15rem;
    }

    div.temp-details {
        margin-left: 1rem;
        p.curr-temp {
            font-size: 6rem;
        }
    }
}