@import './colors';

div.search-form {
    display: flex;
    input {
        height: 5rem;
        width: 85%;
        background: none;
        border: none;
        border-bottom: 2px solid $white;
        color: $white;
        outline: none;
        padding: 1.3rem;
        font-size: 1.8rem;
        -webkit-appearance: none;
        -moz-appearance: textfield;
    }::placeholder {
        color: $white;
        opacity: 0.6;
        font-size: 1.4rem;
    }:focus::placeholder {
        color: $white;
        opacity: 0.4;
    }:focus {
        border-bottom: 2px solid $primary-blue;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}