@import "./Header.scss";
@import "./SearchBar";
@import "./btn";
@import "./CurrentWeather";
@import "./Weather";
@import "./RestaurantList";

html {
    font-size: 10px;
    background: linear-gradient(120deg, $secondary-blue 40%, $pink 100%) no-repeat fixed center;
}

div.sun {
    position: absolute;
    bottom: 0rem;
    right: 8rem;
    height: 90rem;
    width: 90rem;
    border-radius: 50%;
    background: linear-gradient(180deg, #ffc629 0%, #8beef173 100%) no-repeat fixed center;
    opacity: 0.5;
    z-index: -1;
}



article.main-area {
    margin: 5rem auto;
    display: flex;
    height: 80vh;
    width: 80%;
    max-width: 1440px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px rgba(35, 64, 117, 0.4);
    
}

div.temp-area {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url(../img/side4.jpg);
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    section.search-area {
        height: 15%;
        padding: 5rem 6rem 0 6rem;

        div.search-position {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    section.current-area {
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 1rem 6rem;

        div.curr-date-loc {
            align-self: flex-start;
            color: $white;
            font-size: 2rem;
            letter-spacing: 0.3rem;
            line-height: 3rem;
        }
    }

    section.forecast-area {
        height: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #47658a8e;
        border-bottom-left-radius: 10px;
        p.forecast-title {
            color: $white;
            font-size: 2rem;
            margin: 2rem 0;
        }
        div.weather-card {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    
}

section.map-area {
    height: 100%;
    width: 60%;
    background: $white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

p.text-danger {
    color: $red;
    font-size: 1.3rem;
    margin-top: 1rem;
}